/* https://github.com/catppuccin/catppuccin#-palette */
:root {
    color-scheme: light;
    --yellow: #df8e1d; /* Yellow */
    --red: #d20f39; /* Red */
    --text: #4c4f69; /* Text */
    --text-dark: #8c8fa1; /* Overlay 1 */
    --foreground: #eff1f5; /* Base */
    --background: #e6e9ef; /* Mantle */
    --highlighted: #ccd0da; /* Surface 0 */
    --text-highlight: #ccd0da; /* Surface 0 */
}
