/* https://github.com/catppuccin/catppuccin#-palette */
:root {
    color-scheme: dark;
    --yellow: #e5c890; /* Yellow */
    --red: #e78284; /* Red */
    --text: #c6d0f5; /* Text */
    --text-dark: #838ba7; /* Overlay 1 */
    --foreground: #303446; /* Base */
    --background: #292c3c; /* Mantle */
    --highlighted: #414559; /* Surface 0 */
    --text-highlight: #414559; /* Surface 0 */
}
