:root {
    color-scheme: light;
    --yellow: #d7d741;
    --red: #d20f39;
    --text: #24292f;
    --text-dark: #85817b;
    --foreground: #f6f8fa;
    --background: #ffffff;
    --highlighted: #f0f2f4;
    --text-highlight: #e8ebee;
}
