:root {
    color-scheme: dark;
    --yellow: #ffff64;
    --red: #da3633;
    --text: #c9d1d9;
    --text-dark: #85817b;
    --foreground: #161b22;
    --background: #0d1117;
    --highlighted: #1b2027;
    --text-highlight: #25292e;
}
