.sweet {
	--yellow: #ffff64;
	--text: #c9d1d9;
	--text-dark: #85817b;
	--foreground: #191925;
	--background: #1e1e2e;
	--highlighted: #1b1b2a;
	--facebook: #4267b2;
	--instagram: #e1306c;
	--twitter: #1da1f2;
	--radius: 5px;
	--shadow: 0 0 15px rgba(162, 162, 165, 0.2);
    --hover-transform: translate3d(0px, -1px, 0px);
}
