/* https://github.com/EliverLara/Sweet/blob/master/gtk-4.0/_colors.scss */
:root {
    color-scheme: dark;
	--yellow: #f9dc5c;
	--red: #ed254e;
	--text: #c9d1d9;
	--text-dark: #85817b;
	--foreground: #191925;
	--background: #1e1e2e;
	--highlighted: #1b1b2a;
	--shadow: 0 0 15px rgba(162, 162, 165, 0.2);
}
