.artist {
    display: grid;
    grid-template-columns: 15em 25em;
    grid-template-rows: 6.5em 8.5em 1fr;
    gap: 1em 1em;
    grid-template-areas: 
      "image name"
      "image social"
      "description description";
    padding: 0.75rem;
    margin: 2rem auto;
    border-radius: 5px;
    background: #161b22;
    color: #c9d1d9;
}

.artist-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.artist-info {
    grid-area: name;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "artist-name"
    "artist-nicknames";
}

.artist-name {
    grid-area: artist-name;
    font-weight: 900;
    font-size: 36px;
    margin: 0;
}

.artist-nicknames {
    grid-area: artist-nicknames;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

.artist-description {
    grid-area: description;
}

.artist-socials {
    grid-area: social;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 2.5em 2.5em 2.5em; 
    gap: 0.5em 0; 
    grid-template-areas: 
      "facebook"
      "instagram"
      "twitter"; 
}

.social {
    padding-left: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-template-rows: 1fr;
    gap: 5px 0;
    grid-template-areas: 
      "icon name";
    align-items: center;
    transition: all .2s ease-in-out;
}

.social:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: translate3d(0px, -1px, 0px);
}

.social-icon {
    grid-area: icon;
    width: 26px;
    height: 26px;
}

.social-name {
    grid-area: name;
    color: #c9d1d9;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.facebook {
    grid-area: facebook;
    background-color: #4267B2;
}

.instagram {
    grid-area: instagram;
    background-color: #E1306C;
}

.twitter {
    grid-area: twitter;
    background-color: #1DA1F2;
}

@media only screen and (max-width: 512px){ 

    .artist {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 1em 1em;
        grid-template-areas: 
            "image      " 
            "name       " 
            "social     " 
            "description";
        padding: 0.75rem;
        margin: 2rem auto;
        border-radius: 5px;
        background: #161b22;
        color: #c9d1d9;
    }
    
    .artist-image {
        grid-area: image;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    
    .artist-info {
        grid-area: name;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0 0;
        grid-auto-flow: row;
        grid-template-areas:
        "artist-name"
        "artist-nicknames";
    }
 }


 @media only screen and (min-width: 513px) and (max-width: 768px) { 

    .artist {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 1em 1em;
        grid-template-areas: 
            'image       image       image       image       name       ' 
            'image      image      image      image      social     ' 
            'description description description description description';
        padding: 0.75rem;
        margin: 2rem auto;
        border-radius: 5px;
        background: #161b22;
        color: #c9d1d9;
    }
    
    .artist-image {
        grid-area: image;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
    
    .artist-info {
        grid-area: name;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0 0;
        grid-auto-flow: row;
        grid-template-areas:
            "artist-name"
            "artist-nicknames";
    }
 }