.song-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
}

.song {
    background: #161b22;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s background;
    text-decoration: none;
    display: grid;
    padding: 10px;
    grid-template-columns: 9em 1fr;
    grid-template-rows: 3em 4em 2em;
    grid-column-gap: 10px;
    grid-template-areas:
    "song-thumbnail song-title ."
    "song-thumbnail song-artist ."
    "song-thumbnail song-views .";
}

.song:not(:last-child) {
    margin-bottom: 10px;
}

.song-title {
    grid-area: song-title;
    font-weight: 900;
    font-size: 32px;
}

.song-artist {
    font-weight: 600;
    font-size: 24px;
    grid-area: song-artist;
}

.song-views {
    font-weight: 500;
    font-size: 12px;
    grid-area: song-views;
}

.song-thumbnail {
    width: 100%;
    height: 100%;
    grid-area: song-thumbnail;
    border-radius: 5%;
}
