.card {
    background: var(--foreground);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    margin: auto;
    border-radius: var(--radius);
}
