.panel-container {
    margin: auto;
    font-size: 130%;
}

.search-bar > form {
    padding: 12px;
    border-radius: 6px;
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: -50px auto auto;
    background: #161b22;
}

.search-bar > form button {
    background: #0d1117;
    color: #c9d1d9;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.search-bar > form input {
    background: #0d1117;
    color: #c9d1d9;
    font-size: 24px;
    width: 100%;
    border: 0;
    border-radius: 6px;
    padding: 4px;
    margin-right: 8px;
    height: unset;
}
