.panel-container {
    margin: auto;
    font-size: 130%;
}

.search-bar > form {
    padding: 12px;
    border-radius: 6px;
    display: flex;
    box-shadow: var(--shadow);
    margin: -50px auto auto;
    background: var(--foreground);
}

.search-bar > form button {
    background: var(--background);
    color: var(--text);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.search-bar > form input {
    background: var(--background);
    color: var(--text);
    font-size: 24px;
    width: 100%;
    border: 0;
    border-radius: 6px;
    padding: 4px;
    margin-right: 8px;
    height: unset;
}
