.pagination {
    display: inline-block;
    margin: auto;
}

.pagination a {
    float: left;
    color: var(--text);
    background-color: var(--background);
    padding: 8px 16px;
    text-decoration: none;
    border-radius: var(--radius);
}

.pagination a.active {
    background-color: var(--highlighted);
}

.pagination a:hover:not(.active) {
    background-color: var(--foreground);
}
