:root {
    --facebook: #4267b2;
    --instagram: #e1306c;
    --twitter: #1da1f2;
    --radius: 5px;
    --shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    --hover-transform: translate3d(0px, -1px, 0px);
    --hover-transition: 0.3s all;
}

a {
    color: var(--text);
}

/* region Navigation Bar */

nav {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--foreground);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 50px;
    z-index: 1000;
}

.inner-nav {
    margin: auto;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
    flex-basis: 920px;
    height: 50px;
}

.nav-item {
    display: flex;
    flex: 1;
    height: 50px;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
}

.nav-item.right {
    text-align: right;
    justify-content: flex-end;
}

.nav-item.right a {
    padding-left: 4px;
    text-decoration: unset;
}

.site-name {
    font-size: 26px;
    font-weight: 800;
    color: var(--yellow);
    text-decoration: unset;
}

.site-version {
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: var(--text-dark);
    text-decoration: unset;
}

/* endregion */

.container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 50px;
    margin: auto;
    min-height: 100vh;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family:
        Inter var,
        sans-serif;
    background-color: var(--background);
}

.external-link {
    font-weight: 500;
    color: var(--text);
}

.text-centered {
    text-align: center;
}
