{% extends "base.html" %}

{% block title %}{{artist.name}} - {% endblock %}

{% block style %}/style/artist.css{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/style/song.css?v={{ env!("CARGO_PKG_VERSION") }}">
{% endblock %}


{% block navright %}
<div class="nav-item.right">
    <a class="external-link" href="{{ artist.url }}">View on Genius</a>
</div>
{% endblock %}

{% block content %}
<div class="artist">
    <img class="artist-image" src="api/image?url={{ artist.image_url|urlencode }}" alt="Thumbnail"/>
    <div class="artist-info">
        <p class="artist-name">{{ artist.name|e }}</p>
        {% if artist.alternate_names.is_some() && !artist.alternate_names.as_ref().unwrap().is_empty() %}
            <p class="artist-nicknames">
                AKA:
                {% for nickname in artist.alternate_names.as_ref().unwrap() %}
                    {{ nickname|e }}{% if !loop.last %},{% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>
    <div class="artist-socials">
        {% for social in artist.socials() %}
            <a class="social {{social.brand|e}}" href="https://{{social.brand}}.com/{{social.name_raw|urlencode}}">
                <img class="social-icon" src="icon/{{social.brand}}.svg"/>
                <p class="social-name">{{ social.name_formatted|e }}</p>
            </a>
        {% endfor %}
    </div>
    {% if artist.description.is_some() %}
        <div class="artist-description">{{ artist.description.as_ref().unwrap().html|safe|paragraphbreaks|safe }}</div>
    {% endif %}

    {% if artist.popular_songs.is_some() %}
        <div class="artist-songs song-list">
            <h1 class="text-centered">Popular Songs</h1>
            {% for song in artist.popular_songs.as_ref().unwrap() %}
                {% include "song.html" %}
            {% endfor %}
            <a class="artist-search-songs text-centered" href="search?q={{ artist.name|urlencode }}">Search for songs</a>
        </div>
    {% endif %}
</div>
{% endblock %}
