<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Intellectual{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/font/inter/inter.css">
    {% block head %}
    {% endblock %}
</head>
<body>

<!-- NAVBAR -->
<nav>
    <div class="inner-nav">
        <div class="nav-item">
            <a class="site-version" href="https://github.com/Insprill/intellectual">v{{ env!("CARGO_PKG_VERSION") }}</a>
        </div>
        <a href="/" class="site-name">Intellectual</a>
        <div class="nav-item right">
            {% block navright %}{% endblock %}
        </div>
    </div>
</nav>

<!-- MAIN CONTENT -->
{% block body %}
<main class="container">
    {% block content %}
    {% endblock %}
</main>
{% endblock %}
</body>
</html>
