{% extends "base.html" %}

{% block title %}{{song.title}} - {% endblock %}

{% block style %}/style/lyrics.css{% endblock %}

{% block navright %}
<div class="nav-item.right">
    <a class="external-link" href="https://genius.com/{{ query.path|urlencode }}">View on Genius</a>
</div>
{% endblock %}

{% block content %}
<div class="song-lyrics">
    <div class="header">
        <div class="song">
            <p class="song-title">{{ song.title|e }}</p>
            <p class="song-artist">By 
                <a class="song-artist-link" href="artist?id={{ song.primary_artist.id|urlencode }}">
                    <cite>{{ song.primary_artist.name|e }}</cite>
                </a>
            </p>
            {% if song.album.is_some() %}
                <p class="song-album">On <cite>{{ song.album.as_ref().unwrap().name|e }}</cite></p>
            {% endif %}
        </div>
        <div class="stats">
            {% if song.release_date_for_display.is_some() %}
                <p class="stats-release-date">Released on {{ song.release_date_for_display.as_ref().unwrap()|e }}</p>
            {% endif %}
            {% if song.stats.pageviews.is_some() %}
                <p class="stats-views">{{ utils::pretty_format_num(song.stats.pageviews.unwrap())|e }} Views</p>
            {% endif %}
        </div>
        <img class="header-cover" src="api/image?url={{ song.header_image_url|urlencode }}" alt="Thumbnail"/>
    </div>
    <br/>
    {% for verse in verses %}
        <h2 class="song-lyric">{{ verse.title|e }}</h2>
        {% for lyric in verse.lyrics %}
            <p class="song-lyric">{{ lyric|e }}</p>
        {% endfor %}
        {% if !loop.last %}
        <br>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
