{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/lyrics.css">
{% endblock %}

{% block navright %}
<div class="nav-item.right">
    <a class="external-link" href="https://genius.com{{ query.path }}">View on Genius</a>
</div>
{% endblock %}

{% block content %}
<div class="song-lyrics">
    <div class="header">
        <div class="song">
            <p class="song-title">{{ song.title|e }}</p>
            <p class="song-artist">By <cite>{{ song.artist_names|e }}</cite></p>
            <p class="song-album">On <cite>{{ song.album.name|e }}</cite></p>
        </div>
        <div class="stats">
            <p class="stats-release-date">Released on {{ song.release_date_for_display|e }}</p>
            {% if song.stats.pageviews.is_some() %}
                <p class="stats-views">{{ search::pretty_format_num(song.stats.pageviews.unwrap())|e }} Views</p>
            {% endif %}
        </div>
        <img class="header-cover" src="api/image?url={{ song.header_image_url|e }}" alt="Thumbnail"/>
    </div>
    <br/>
    {% for verse in verses %}
        <h2 class="song-lyric">{{ verse.title }}</h2>
        {% for lyric in verse.lyrics %}
            <p class="song-lyric">{{ lyric }}</p>
        {% endfor %}
        {% if !loop.last %}
        <br>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
