{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/lyrics.css">
{% endblock %}

{% block navright %}
<div class="nav-item.right">
    <a class="external-link" href="https://genius.com{{ query.path }}">View on Genius</a>
</div>
{% endblock %}

{% block content %}
<div class="song-lyrics">
    {% for verse in verses %}
        <h2 class="song-lyric">{{ verse.title }}</h2>
        {% for lyric in verse.lyrics %}
            <p class="song-lyric">{{ lyric }}</p>
        {% endfor %}
        {% if !loop.last %}
        <br>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
