{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/search.css">
{% endblock %}

{% block content %}
<div class="song-list">
    {% for result in results %}
    <a class="song" href="lyrics?path={{ result.path|e }}&api_path={{ result.api_path|e }}">
        <img class="song-thumbnail" src="api/image?format=jpeg&url={{ result.song_art_image_thumbnail_url|e }}"
             alt="Thumbnail"/>
        <h2 class="song-title">{{ result.title|e }}</h2>
        <h3 class="song-artist">{{ result.artist_names|e }}</h3>
        {% if result.stats.pageviews.is_some() %}
        <h3 class="song-views">{{ self::pretty_format_num(result.stats.pageviews.unwrap())|e }} Views</h3>
        {% endif %}
    </a>
    {% endfor %}
</div>
{% endblock %}
