{% extends "base.html" %}

{% block title %}Search - {% endblock %}

{% block style %}/style/search.css{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/style/song.css?v={{ env!("CARGO_PKG_VERSION") }}">
{% endblock %}

{% block navright %}
<a class="external-link" href="https://genius.com/search?q={{ q|urlencode }}">Search on Genius</a>
{% endblock %}

{% block content %}
<div class="song-list">
    {% for song in songs %}
        {% include "song.html" %}
    {% endfor %}
    <div class="pagination">
        {% if current_page > 1 %}
        <a href="?q={{q|urlencode}}&page={{current_page - 1}}" accesskey="p">
            Prev
        </a>
        {% endif %}
        {% for n in nav_pages %}
        <a href="?q={{q|urlencode}}&page={{n}}" class="{% if utils::borrowed_u8_eq(current_page, n) %}active{% endif %}">
            {{n}}
        </a>
        {% endfor %}
        {% if current_page < 100 %}
        <a href="?q={{q|urlencode}}&page={{current_page + 1}}" accesskey="n">
            Next
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
