<a class="song" href="lyrics?path={{ song.path|urlencode }}&id={{ song.id|urlencode }}">
    <img class="song-thumbnail" 
        src="/api/image?url={{ song.song_art_image_thumbnail_url|urlencode }}&size=150"
        alt="Thumbnail"
    />
    <h2 class="song-title">{{ song.title|e }}</h2>
    <h3 class="song-artist">{{ song.primary_artist.name|e }}</h3>
    {% if song.stats.pageviews.is_some() %}
        <h3 class="song-views">{{ utils::pretty_format_num(song.stats.pageviews.unwrap())|e }} Views</h3>
    {% endif %}
</a>
